@tailwind base;
@tailwind components;
@tailwind utilities;

.bulatan {
  margin-left: -760px;
  margin-top: -810px;
}

.domain {
  padding-bottom: 12;
  padding-top: 11px;
}

.domain-input {
  padding-bottom: 11px;
  padding-left: 1rem;
  padding-right: 7rem;
}